span.contextual-title.hidden {
  display: none;
}

span.contextual-links-region:hover {
  padding-right: 40px;
}

span.contextual-links-region.hidden {
  display: inline;
  opacity: 0.2;
}

span.contextual-links-region.hidden:hover {
  opacity: 1;
}